
// Import generated Design Token variables
@import "./demo/sass/tokenVariables";
@import "./demo/sass/tokenProperties";

// Import baseline library dependencies
// Mixins
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/breakpoints";

// Creates baseline output in CSS
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/fonts";
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/normalize";
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/baseline";

// Import Utility classes (will produce CSS in output)
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/utilityClasses";

// Custom styles per demo pages
code {
  color: var(--color-base-chili);
}

.vertical-section-container {
  margin: 0 auto;
  max-width: var(--size-width-max);
}
