// Import Auro tokens
@import './node_modules/@alaskaairux/design-tokens/dist/tokens/SCSSVariables';
@import './node_modules/@alaskaairux/design-tokens/dist/tokens/SassCustomProperties';

// Import baseline library dependencies
// Mixins
@import './node_modules/@alaskaairux/webcorestylesheets/dist/breakpoints';

// Creates baseline output in CSS
@import './node_modules/@alaskaairux/webcorestylesheets/dist/fonts';
@import './node_modules/@alaskaairux/webcorestylesheets/dist/normalize';
@import './node_modules/@alaskaairux/webcorestylesheets/dist/essentials';
@import './node_modules/@alaskaairux/webcorestylesheets/dist/headings';

// Import Utility classes (will produce CSS in output)
$layout-properties: margin;
$layout-extensions: Right;
$layout-modifiers: (
  'md': $auro-size-md
);
@import './node_modules/@alaskaairux/webcorestylesheets/dist/utilityMixins/layoutPropertiesGenerator';

// Custom styles per demo pages
body {
  padding: 3rem;
}

pre[class*='language-'] {
  margin-top: 0;
}

main {
  margin: 0 auto;
  max-width: 60rem;
}

.exampleWrapper {
  background: repeating-linear-gradient(
    45deg,
    #f3f3f3,
    #f3f3f3 10px,
    var(--auro-color-base-white) 0,
    var(--auro-color-base-white) 20px
  );
  overflow: auto;
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #f8f8f8;
}

auro-accordion {
  pre[class*="language-"] {
    background: none;
  }
}

code[class*="language-"], pre[class*="language-"] {
  font-family: monospace;
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

code:not(.html):not(.css):not(.js) {
  color: var(--auro-color-brand-flamingo-500);
}

blockquote {
  margin-left: 0;
  border-left: 1px solid var(--auro-color-border-active-on-light);
  padding: var(--auro-size-xs);
  padding-left: var(--auro-size-xl);
  color: var(--auro-color-text-secondary-on-light);
  font-weight: 200;
  margin-top: var(--auro-size-lg);
  margin-bottom: var(--auro-size-lg);

  p {
    line-height: 2;
    &:last-child {
      margin-bottom: 0;
    }
  }

  & + p {
    margin-bottom: var(--auro-size-xl);
  }
}

h1,
h2,
h3 {
  @extend .heading;
}

h1 {
  @extend .heading--display;
}

h2 {
  @extend .heading--700;
}

h3 {
  @extend .heading--600;
}

h4 {
  @extend .heading--500;
}

a {
  @extend .hyperlink;

  &.focus-visible {
    @include auro_focus-hyperlink(sass);
  }
}

strong {
  @extend .heading--300;
}

pre  {
  overflow: auto;
  background-color: var(--auro-color-base-gray-100);
  padding: var(--auro-size-lg) !important;
  margin-bottom: var(--auro-size-xxl);

  code {
    font-size: .9rem;
  }
}

table {
  display: block;
  border-collapse: collapse;
  overflow: scroll;
  width: auto;
  border-spacing: var(--auro-size-sm);
  margin-bottom: var(--auro-size-xl);
  font-weight: var(--auro-text-heading-display-weight);

  tr {
    &:nth-child(even) {
      background-color: var(--auro-color-base-gray-100);
    }
  }

  th {
    text-align: left;
    font-weight: var(--auro-text-heading-default-weight);
  }

  img {
   max-width: unset;
  }

  @include auro_breakpoint--sm {
    width: 100%;
    display: table;
  }
}

thead {
  border-bottom: 1px solid var(--auro-color-base-gray-200);
  border-collapse: collapse;
}

th, td {
  padding: var(--auro-size-md);
}
