// Import Auro tokens
@import "./node_modules/@alaskaairux/design-tokens/dist/tokens/SCSSVariables";
@import "./node_modules/@alaskaairux/design-tokens/dist/tokens/SassCustomProperties";

// Import baseline library dependencies
// Mixins
@import "./node_modules/@alaskaairux/webcorestylesheets/dist/breakpoints";

// Creates baseline output in CSS
@import "./node_modules/@alaskaairux/webcorestylesheets/dist/fonts";
@import "./node_modules/@alaskaairux/webcorestylesheets/dist/normalize";
@import "./node_modules/@alaskaairux/webcorestylesheets/dist/essentials";

// Import Utility classes (will produce CSS in output)
$layout-properties: margin;
$layout-extensions: Right;
$layout-modifiers: (
  "md": $auro-size-md
);
@import "./node_modules/@alaskaairux/webcorestylesheets/dist/utilityMixins/layoutPropertiesGenerator";

// Custom styles per demo pages
code {
  color: var(--auro-color-base-crimson-500);
}

.vertical-section-container {
  margin: 0 auto;
  max-width: 	82.5rem;
}
