<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Demo of Consumable Auro Components</title>
  </head>
  <body>
    <main>
      <h1>Auro Elements</h1>
      <p>Examples of Auro elements to ensure styles are not broken</p>
      <section>
        <h3>[namespace]-[name]</h3>
        <[namespace]-[name] cssclass="testClass">Default</[namespace]-[name]>
      </section>
    </main>
    <div id="assets">
      <link rel="stylesheet" href="https://unpkg.com/@alaskaairux/orion-design-tokens@[designTokens]/dist/tokens/CSSCustomProperties.css" />
      <link rel="stylesheet" href="https://unpkg.com/@alaskaairux/orion-web-core-style-sheets@[wcss]/dist/bundled/essentials.css" />

      <script src="../../scripts/polyfills.js"></script>
      <script src="../../src/[namespace]-[name].js"></script>
    </div>
  </body>
</html>
