<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auro Web Component Generator | [namespace]-[name] custom element</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../node_modules/prismjs/themes/prism.css"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <main></main>

    <script type="module">
      import 'marked/marked.min.js';
      import 'prismjs';
      fetch('/demo/demo.md')
        .then((response) => response.text())
        .then((text) => {
          const rawHtml = marked(text);
          document.querySelector('main').innerHTML = rawHtml;
          Prism.highlightAll();
        });
    </script>
    <script type="module" src="../src/[namespace]-[name].js"></script>
    <script src="https://unpkg.com/@alaskaairux/auro-accordion@latest/dist/auro-accordion__bundled.js" type="module"></script>
  </body>
</html>
